<div class="container">
    <div class="jumbotron">
          <h1>Agregar Fraude</h1>
          <p>Por los momentos no podemos hostear los recursos nosotros, si tienes videos considera subirlos a Youtube en una cuenta aparte para evitar su borrado, si son
          imagenes considera usar: <a href="https://imgbb.com/">ImageBB</a> y pon el link.</p>
    </div>

<div class="" align=center>
  <%= render 'form', fraude: @fraude %>
</div>


<%= link_to 'Regresar a Inicio', fraudes_path %>
</div>
